#comment-search-root {
  margin-left: auto;
}

#comment-search-root button {
  margin-left: auto;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/.comment-search-dialog#advanced_example */
#comment-search-root dialog:modal {
  position: fixed;
  inset-block-start: 0px;
  inset-block-end: 0px;
  max-width: calc((100% - 6px) - 2em);
  max-height: calc((100% - 6px) - 2em);
  user-select: text;
  visibility: visible;
  top-layer: browser !important;
}

#comment-search-root dialog[open] {
  display: block;
}

#comment-search-root dialog {
  display: none;
  position: absolute;
  inset-inline-start: 0px;
  inset-inline-end: 0px;
  width: 800px;
  background-color: canvas;
  color: canvastext;
  margin: auto;
  padding: 1em;
  border-radius: 8px;
  border: none;
  outline: none;
  overflow: hidden;
}

#comment-search-root dialog .header {
  display: flex;
  align-items: center;
}

#comment-search-root dialog input {
  padding: 5px 10px;
  border: 1px solid var(--Ga1);
  border-radius: 4px;
  background-color: var(--bg3);
  color: var(--text1);
  outline: none;
  width: 100%;
  margin: 20px 0;
}

#comment-search-root dialog .comment-tree {
  height: 500px;
  overflow: auto;
  overscroll-behavior: contain;
}

#comment-search-root .comment-item {
  display: flex;
  margin-top: 20px;
}

#comment-search-root .comment-item-avatar {
  border-radius: 50%;
  background-color: var(--Ga1);
  margin-right: 10px;
}

#comment-search-root .comment-item-content {
}

#comment-search-root .comment-item-username {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #61666d;
  margin-right: 12px;
}

#comment-search-root .comment-item-message {
  font-size: 14px;
  color: var(--text1);
}

#comment-search-root .comment-item-time {
  color: var(--text3);
  margin-top: 4px;
}
